.black, .navbar-custom .navbar-nav>.active>a.black {
    color: black;
}

.header-overlay {
    background-color: rgba(0,0,0,0.4);
}

a.text-link {
    color: #b58c00
}

.margin-top20 {
    margin-top: 20px;
}

.larger {
    font-size: larger;
}

.list-item {
    margin-bottom: 10px;
}

.large-and-green {
    font-size: 30px;
    font-weight: 400;
    color: #02CCBA;
}

.portfolio-container .portfolio-item .portfolio-link.second-approach {
    max-width:500px;
}

.bottom60 {
    margin-bottom: 60px;
}

.padding-20 {
    padding: 10px 20px;
}